# Dictionary Comprehension

double each value
divide all values in the dictionary by 10
lower to upper case

In [1]:
d = {i:i*2 for i in range(10)}
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [2]:
d = {i:i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [4]:
d = {i:i*5 for i in range(10)}
d

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45}

# Word Frequency using dictionary

In [ ]:
# m = "one two three four five one two five six seven one eight four five"
m1=m.split()
m1

In [11]:
m2=set(m1)
m2=list(m2)
m2

['one', 'eight', 'five', 'two', 'four', 'three', 'six', 'seven']

In [12]:
#calculate frequency of each Word

# Bitwise Operators

In [20]:
#Bitwise operators acts on bits and perform 
x = 18
y = 6
print("bitwise AND",x&y)
print("bitwise OR",x|y)
print("bitwise NOT",~x)
print("bitwise XOR",x^y)
print("bitwise Right Shift",x>>1)
print("bitwise Left Shift",x<<1)

bitwise AND 2
bitwise OR 22
bitwise NOT -19
bitwise XOR 20
bitwise Right Shift 9
bitwise Left Shift 36

In [23]:
#Random number
import random
print(random.randrange(2,8))

3

# Set

In [24]:
s = {2,5,4,7,8,6,5,8,6}
s

{2, 4, 5, 6, 7, 8}

In [26]:
s2 = set((1,5,85,69,96))
s2

{1, 5, 69, 85, 96}

In [33]:
#Loop through a Set
for i in s:
    print(i)

2
4
5
6
7
8

In [32]:
#Set Membership

2 in s

True

In [35]:
#add
s.add(55)
s

{2, 4, 5, 6, 7, 8, 55}

In [37]:
#update
s.update([55,66,77])
s

{2, 4, 5, 6, 7, 8, 55, 66, 77}

In [38]:
#remove
s.remove(77)
s

{2, 4, 5, 6, 7, 8, 55, 66}

In [39]:
s.discard(66)
s

{2, 4, 5, 6, 7, 8, 55}

In [48]:
#Copy Set
S = s.copy()
print(S)
print(id(S))
print(id(s))

{2, 4, 5, 6, 7, 8, 55}
1942473784448
1942472941120

# SeT Operators

In [45]:
#Union 
A = {1,2,3,4}
B = {5,6,7,8}
C = {9,10,11}
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [52]:
A|B|C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [50]:
#Update 
A.update(B)
A

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
#intersection
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
A.intersection(B)

{4, 5, 6}

In [53]:
A & B

{4, 5, 6}

In [54]:
#Update
A.intersection_update(B)
A

{4, 5, 6}