# All/any
the all() method return true - if all elements ina list are true false-if any elements in a list is false
the any() functions returns True if any element in the list is True.

In [5]:
l=[1,2.3,"Parth",False]
all(l)

False

In [4]:
any(l)

True

# List Comprehensions
It provides an elegant way to create new list
It contsist of brackets obtaining an expression followed by a for clause, then zero or more for or if clauses

In [6]:
m="Welcome"
my=[i for i in m]
my

['W', 'e', 'l', 'c', 'o', 'm', 'e']

In [8]:
type(m)

str

In [9]:
#display all even number between 0-100 using list comprehension
mu = [i for i in range(50) if i%2==0]
mu

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [ ]:
'''1. CALCULATE square of all numbers between -0-10 using list comprehensions
2. multiply whole list by 10
3. extract numbers from a string using list comprehension
4. write a program to print prime number between 1 to 100
5. write a program to print the factor of a number

# Tuples
tuples is similar to list except that the objects in tuple are immutable which means we cannot change element of a tuple once assigned
when we do not want to change the data time, tuple is a preferred data type.
iterating over the elements of a tuple is faster compared to iterating over a list.
#Points
Insertion order preserved.
Duplicate objects are allowed
Heterogenous objects are allowed
It is Immutable
Value at any index cannot be changed
Slicing and Indexing can be done on tuple
declared using()
if tuple contain only one element then it will act as int 
   a = (10)
     type(a)

In [10]:
tup = (25,23.5,"Parth",23,55)

In [11]:
tup

(25, 23.5, 'Parth', 23, 55)

In [12]:
tup[2]

'Parth'

In [13]:
tup[1:5]

(23.5, 'Parth', 23, 55)

In [18]:
tup[0:1]

(25,)

In [19]:
len(tup)

5

In [21]:
tup.count(25)

1

In [23]:
"Parth" in tup

True

In [24]:
for i in tup:
    print(i)

25
23.5
Parth
23
55

# Converting Tuple into list

In [30]:
x = list(tup)
print(type(x))
x

<class 'list'>

[25, 23.5, 'Parth', 23, 'Sharma']

In [28]:
x[4]="Sharma"
tup =tuple(x)

In [29]:
tup

(25, 23.5, 'Parth', 23, 'Sharma')

In [31]:
tup.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [38]:
t =(1,8,5,2,4,6,9)
sorted(t)
sorted(t,reverse =True)

[9, 8, 6, 5, 4, 2, 1]

In [39]:
t

(1, 8, 5, 2, 4, 6, 9)

# Dictionary(Key : Value)
 It is data type which store value in the form of key value pairs
 Key must be unique but values can be duplicate
 key is immutable while value are mutable
 so dictionary is mutable
 heterogenous objects are allowed for both key and value
 declared by {"Key":"value"}

In [73]:
d = {1:"one",2:"two",3:"three"}

In [46]:
print(type(d))
d

<class 'dict'>

{1: 'one', 2: 'two', 3: 'three'}

In [47]:
len(d)

3

In [48]:
d.keys()

dict_keys([1, 2, 3])

In [49]:
d.values()

dict_values(['one', 'two', 'three'])

In [50]:
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [53]:
d2 = {'name':'Parth','class':8,
      'marks':{'maths':56}}
d2

{'name': 'Parth', 'class': 8, 'marks': {'maths': 56}}

In [54]:
d2.items()

dict_items([('name', 'Parth'), ('class', 8), ('marks', {'maths': 56})])

In [57]:
d2["marks"]

{'maths': 56}

In [60]:
d3 ={"NAME":['Parth','Himanshi','Sharma'],
     "CLASS":[8,9,10],"MARKS":[56,85,95]}
d3

{'NAME': ['Parth', 'Himanshi', 'Sharma'],
 'CLASS': [8, 9, 10],
 'MARKS': [56, 85, 95]}

In [61]:
d3["NAME"][1]

'Himanshi'

In [62]:
k = {1,2,3,4,5,6}
d4 = dict.fromkeys(k)
d4

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}

In [70]:
k = {1,2,3,4,5,6}
v = 69
d4 = dict.fromkeys(k,v)
d4

{1: 69, 2: 69, 3: 69, 4: 69, 5: 69, 6: 69}

In [64]:
k = {1,2,3,4,5,6}
v = [10,20,30,40]
d4 = dict.fromkeys(k,v)
d4

{1: [10, 20, 30, 40],
 2: [10, 20, 30, 40],
 3: [10, 20, 30, 40],
 4: [10, 20, 30, 40],
 5: [10, 20, 30, 40],
 6: [10, 20, 30, 40]}

In [65]:
v.append(60)

In [66]:
d4

{1: [10, 20, 30, 40, 60],
 2: [10, 20, 30, 40, 60],
 3: [10, 20, 30, 40, 60],
 4: [10, 20, 30, 40, 60],
 5: [10, 20, 30, 40, 60],
 6: [10, 20, 30, 40, 60]}

# Accessing Items

In [81]:
d={5:"five"}
d.update(d)
d

{5: 'five'}

In [83]:
du={6:"six"}
d.update(du)
d

{5: 'five', 6: 'six'}

In [84]:
d.pop(5)# delete the key

'five'

In [85]:
d

{6: 'six'}

In [87]:
del[d[6]]

In [88]:
d

{}

In [89]:
del d
d

NameError: name 'd' is not defined

# copy Dictionary

# Dictionary Membership

# loop through a dictionary

In [90]:
d ={1:'Parth',2:'Himanshi',3:'Sharma'}
for i in d:
    print(i,':',d[i])

1 : Parth
2 : Himanshi
3 : Sharma

In [91]:
'Parth' in d

False

In [92]:
2 in d

True